In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
#بقرأ الملف وبظهر اول خمس اعمدة
data = pd.read_excel('data/StoresData.xlsx')
data.head()

,Store No.,Sales $m,Wages $m,No. Staff,Location,Loc'n (Num),State,State (Num),Age (Yrs),GrossProfit,...,Mng-Sex (Num),Mng-Age,Mng-Exp,Mng-Train,Union%,Car Spaces,HomeDel,HomeDel (Num),Basket:2013,Basket:2014
0,1,12.5,2.3,60,Mall,2,NSW,1,10,0.712,...,0,33,12,2,38,46,Del:No,0,171,178
1,2,14.5,2.7,69,Mall,2,Vic,2,8,0.091,...,0,33,16,1,38,73,Del:No,0,168,178
2,3,19.0,3.1,79,Country,3,Vic,2,7,1.075,...,0,30,9,2,39,64,Del:No,0,180,188
3,4,18.2,2.6,66,Mall,2,Qld,3,7,1.372,...,0,29,9,2,38,66,Del:Yes,1,173,180
4,5,7.6,2.0,51,Strip,1,Qld,3,15,2.148,...,0,36,4,3,40,29,Del:No,0,166,171

In [ ]:
#هنظف البايانات
print("\nCleaning the dataset...")

# هشوف لو في قيم فاضية
print("Missing values in each column:")
print(data.isnull().sum())#كده مفيش فا مش لازم اكتب الكود اللي بيشيل القيم الفاضيه

print("#########################################################################################################################################################")
# هشوف لو في صفوف متكررة
duplicates = data.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")#كده مفيش فا مش لازم اكتب الكود اللي بيشيل الصفوف المتكررة

Cleaning the dataset...
Missing values in each column:
Store No.        0
Sales $m         0
Wages $m         0
No. Staff        0
Location         0
Loc'n (Num)      0
State            0
State (Num)      0
Age (Yrs)        0
GrossProfit      0
Adv.$'000        0
Competitors      0
HrsTrading       0
Sundays          0
Sundays (Num)    0
Mng-Sex          0
Mng-Sex (Num)    0
Mng-Age          0
Mng-Exp          0
Mng-Train        0
Union%           0
Car Spaces       0
HomeDel          0
HomeDel (Num)    0
Basket:2013      0
Basket:2014      0
dtype: int64
#########################################################################################################################################################
Number of duplicate rows: 0

,Sales $m,Wages $m,No. Staff,Loc'n (Num),State (Num),Age (Yrs),GrossProfit,Adv.$'000,Competitors,HrsTrading,Sundays (Num),Mng-Sex (Num),Mng-Age,Mng-Exp,Mng-Train,Union%,Car Spaces,HomeDel (Num),Basket:2013,Basket:2014
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,11.659333,2.376667,0.323089,1.913333,3.033333,8.846667,1.009953,0.364680,2.506667,0.357847,0.620000,0.166667,38.420000,9.253333,2.813333,37.786667,44.186667,0.300000,0.351259,0.401111
std,3.570989,0.567866,0.178112,0.767954,1.894594,5.442483,0.645794,0.194826,1.744586,0.246631,0.487013,0.373927,7.337748,3.985185,1.183707,4.899783,22.162725,0.459793,0.177903,0.205647
min,5.900000,1.500000,0.000000,1.000000,1.000000,1.000000,0.018000,0.000000,0.000000,0.000000,0.000000,0.000000,27.000000,1.000000,1.000000,24.000000,8.000000,0.000000,0.000000,0.000000
25%,8.825000,1.900000,0.195122,1.000000,1.000000,4.250000,0.511000,0.232092,1.000000,0.158854,0.000000,0.000000,33.000000,7.000000,2.000000,35.000000,26.000000,0.000000,0.177778,0.214286
50%,10.950000,2.200000,0.280488,2.000000,3.000000,7.500000,0.975000,0.316619,2.000000,0.302083,1.000000,0.000000,37.000000,9.000000,3.000000,38.000000,39.500000,0.000000,0.355556,0.404762
75%,14.000000,2.700000,0.423780,2.750000,4.000000,12.000000,1.415000,0.506447,4.000000,0.507812,1.000000,0.000000,43.000000,12.000000,3.000000,41.000000,58.000000,1.000000,0.488889,0.547619
max,23.500000,3.900000,1.000000,3.000000,8.000000,24.000000,2.872000,1.000000,7.000000,1.000000,1.000000,1.000000,61.000000,21.000000,6.000000,50.000000,114.000000,1.000000,1.000000,1.000000

In [52]:
# Normalizationهنعمل  
print("\nNormalization the dataset...")

# إزالة علامة الدولار وتحويلهم لرقم
data['Basket:2013'] = data['Basket:2013'].replace({r'\$':'', ' ':'', ',':''}, regex=True).astype(float)
data['Basket:2014'] = data['Basket:2014'].replace({r'\$':'', ' ':'', ',':''}, regex=True).astype(float)


#هنشيل العواميد اللي ملهاش لازمة 
not_necessary_cols = ['Store No.','Mng-Sex','HomeDel','Sundays','Location','State']
#data.drop(not_necessary_cols, axis=1, inplace=True)


#Scalingهنعمل  
scaler = MinMaxScaler()
numerical_cols = data.select_dtypes(include=['int64', 'float64']).columns
data[numerical_cols] = scaler.fit_transform(data[numerical_cols])
data.info()
data.describe()

Normalization the dataset...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales $m       150 non-null    float64
 1   Wages $m       150 non-null    float64
 2   No. Staff      150 non-null    float64
 3   Location       150 non-null    object
 4   Loc'n (Num)    150 non-null    float64
 5   State          150 non-null    object
 6   State (Num)    150 non-null    float64
 7   Age (Yrs)      150 non-null    float64
 8   GrossProfit    150 non-null    float64
 9   Adv.$'000      150 non-null    float64
 10  Competitors    150 non-null    float64
 11  HrsTrading     150 non-null    float64
 12  Sundays        150 non-null    object
 13  Sundays (Num)  150 non-null    float64
 14  Mng-Sex        150 non-null    object
 15  Mng-Sex (Num)  150 non-null    float64
 16  Mng-Age        150 non-null    float64
 17  Mng-Exp        150 non-null    float64
 18  Mng-Train      150 non-null    float64
 19  Union%         150 non-null    float64
 20  Car Spaces     150 non-null    float64
 21  HomeDel        150 non-null    object
 22  HomeDel (Num)  150 non-null    float64
 23  Basket:2013    150 non-null    float64
 24  Basket:2014    150 non-null    float64
dtypes: float64(20), object(5)
memory usage: 29.4+ KB

,Sales $m,Wages $m,No. Staff,Loc'n (Num),State (Num),Age (Yrs),GrossProfit,Adv.$'000,Competitors,HrsTrading,Sundays (Num),Mng-Sex (Num),Mng-Age,Mng-Exp,Mng-Train,Union%,Car Spaces,HomeDel (Num),Basket:2013,Basket:2014
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,0.327235,0.365278,0.323089,0.456667,0.290476,0.341159,0.347566,0.364680,0.358095,0.357847,0.620000,0.166667,0.335882,0.412667,0.362667,0.530256,0.341384,0.300000,0.351259,0.401111
std,0.202897,0.236611,0.178112,0.383977,0.270656,0.236630,0.226277,0.194826,0.249227,0.246631,0.487013,0.373927,0.215816,0.199259,0.236741,0.188453,0.209082,0.459793,0.177903,0.205647
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.166193,0.166667,0.195122,0.000000,0.000000,0.141304,0.172740,0.232092,0.142857,0.158854,0.000000,0.000000,0.176471,0.300000,0.200000,0.423077,0.169811,0.000000,0.177778,0.214286
50%,0.286932,0.291667,0.280488,0.500000,0.285714,0.282609,0.335319,0.316619,0.285714,0.302083,1.000000,0.000000,0.294118,0.400000,0.400000,0.538462,0.297170,0.000000,0.355556,0.404762
75%,0.460227,0.500000,0.423780,0.875000,0.428571,0.478261,0.489488,0.506447,0.571429,0.507812,1.000000,0.000000,0.470588,0.550000,0.400000,0.653846,0.471698,1.000000,0.488889,0.547619
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000